{% if config.extra.social %}
<div class="md-footer-social">
  <script
    defer
    src="https://use.fontawesome.com/releases/v5.7.2/js/brands.js"
    integrity="sha384-zJ8/qgGmKwL+kr/xmGA6s1oXK63ah5/1rHuILmZ44sO2Bbq1V3p3eRTkuGcivyhD"
    crossorigin="anonymous"
  ></script>
  <script
    defer
    src="https://use.fontawesome.com/releases/v5.7.2/js/fontawesome.js"
    integrity="sha384-xl26xwG2NVtJDw2/96Lmg09++ZjrXPc89j0j7JHjLOdSwHDHPHiucUjfllW0Ywrq"
    crossorigin="anonymous"
  ></script>
  {% for social in config.extra.social %}
  <a href="{{ social.link }}">
    <i class="md-footer-social__link fab fa-{{ social.type }} "> </i>
  </a>
  {% endfor %}
</div>
{% endif %}
